.form-input {
  border: 0.5px solid #e6e6e6;
  border-radius: 7px;
  color: #333;
  padding: 7px 20px;
  margin: 5px;
  width: 65%;
  font-weight: 350;
  font-size: 13px;
}
.error-form-input {
  border: 0.5px solid #f1463a;
  border-radius: 7px;
  color: #333;
  padding: 7px 20px;
  margin: 0px;
  width: 65%;
  font-weight: 350;
  font-size: 13px;
}
