.bar {
  border-bottom: 1px solid #999999;
  padding: 0px !important;
}
.searchBar {
  padding-bottom: 5px;
  margin: 15px auto 20px;
  display: flex;
}
.search {
  margin-right: -25px;
}
.switch {
  margin-left: 0px !important;
}
.searchItem {
  border: 1px solid #999999;
  border-radius: 7px;
  color: #333333;
  padding: 2.5%;
  margin-right: 50px;
  font-weight: 400;
  font-size: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
